@media screen and (min-width: 600px){
    #menu{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navi{
        justify-content: center;
        flex-direction: row;
    }
    .navi a {
        display: block;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 32em){

    .gallery{
        grid-template-columns: repeat(3,1fr);
    }
}