:root{
    --primary-color: black;
    --secondary-color:  rgb(224, 250, 250);
}

body{
    text-align: center;
}    
section{
    border: 1px solid;
    width: 400px;
    margin:20px auto;
    justify-content: center;


}
.label{
    display: block;
    margin: auto;
    font-weight: bold;

}
img{
    width: 400px;
}
.sect img{
    width: 50px;
}

footer{
    width: 100%;
    text-align: center;
    background-color:var(--secondary-color);
}