@media screen and (max-width: 600px){
    
    body{
        background-color: rgb(168, 168, 168);
    }
    main {
        position: relative;
    }

    .hero{
        position: relative;
    }
    .hero img{
        display: block;
        width: 100%;
    }
    .sec{
        position: absolute;
        width: 35%;
        top: 70px;
    }

    .sect{
        position: absolute;
        width: 180px;
        bottom: 10px;
        right: 20px;
        color: rgb(211, 255, 255);
        
    }

    .sect h2::after{
        content: "☁";
    }

    h2{
    color:var(--primary-color);
    background-color:  var(--secondary-color);
    }

}